@import '../../styles/variables';

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7em 3em;
    background-color: $primary-color;
    color: $text-color;
    margin: 0;
  }
  
  .navbar-left .logo {
    height: 80px;
  }
  
  .navbar-right {
    display: flex;
    gap: 20px;
  }
  
  .nav-link {
    color: $text-color;
    text-decoration: none;
    font-size: 1em;
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }
  