<div class="container mt-3">
    <div class="filter-bar">
        <!-- Filtros de Categorías -->
        <div class="filter-categories">
            <div class="filter-item" (click)="onCategoryChange('Belleza', $event)">
                <input type="checkbox" id="belleza" name="belleza" hidden>
                <label for="belleza">Belleza</label>
            </div>
            <div class="filter-item" (click)="onCategoryChange('Tecnología', $event)">
                <input type="checkbox" id="tecnologia" name="tecnologia" hidden>
                <label for="tecnologia">Tecnología</label>
            </div>
            <div class="filter-item" (click)="onCategoryChange('Jardín', $event)">
                <input type="checkbox" id="jardin" name="jardin" hidden>
                <label for="jardin">Jardín</label>
            </div>
            <div class="filter-item" (click)="onCategoryChange('Deporte', $event)">
                <input type="checkbox" id="deporte" name="deporte" hidden>
                <label for="deporte">Deporte</label>
            </div>
            <div class="filter-item" (click)="onCategoryChange('Herramientas', $event)">
                <input type="checkbox" id="herramientas" name="herramientas" hidden>
                <label for="herramientas">Herramientas</label>
            </div>
        </div>
        <!-- Ordenar -->
        <div class="sort-item" (click)="toggleSortOrder()">
            Precio: {{ sortOrder === 0 ? 'Ascendente' : 'Descendente' }}
            <i [ngClass]="sortOrder === 0 ? 'fas fa-arrow-up' : 'fas fa-arrow-down'"></i>
        </div>
    </div>
</div>