<div class="filter-bar">
    <div class="dropdown">
      <div class="filter-item">Filtrar</div>
      <div class="dropdown-content">
        <label>Categorías:</label>
        <div class="filter-option">
          <input type="checkbox" id="belleza" name="belleza">
          <label for="belleza">Belleza</label>
        </div>
        <div class="filter-option">
          <input type="checkbox" id="tecnologia" name="tecnologia">
          <label for="tecnologia">Tecnología</label>
        </div>
        <div class="filter-option">
          <input type="checkbox" id="jardin" name="jardin">
          <label for="jardin">Jardín</label>
        </div>
        <div class="filter-option">
          <input type="checkbox" id="deporte" name="deporte">
          <label for="deporte">Deporte</label>
        </div>
        <div class="filter-option">
          <input type="checkbox" id="herramientas" name="herramientas">
          <label for="herramientas">Herramientas</label>
        </div>
      </div>
    </div>
    <div class="dropdown">
      <div class="filter-item">Ordenar</div>
      <div class="dropdown-content">
        <div class="sort-item">Precio: Ascendente</div>
        <div class="sort-item">Precio: Descendente</div>
      </div>
    </div>
  </div>
  