<div class="container mt-3">
    <div class="filter-bar">
        <!-- Dropdown de Filtrar -->
        <div class="dropdown">
            <div class="filter-item">Filtrar</div>
            <div class="dropdown-content">
                <label class="form-label">Categorías:</label>
                <div class="filter-option form-check">
                    <input class="form-check-input" type="checkbox" id="belleza" name="belleza">
                    <label class="form-check-label" for="belleza">Belleza</label>
                </div>
                <div class="filter-option form-check">
                    <input class="form-check-input" type="checkbox" id="tecnologia" name="tecnologia">
                    <label class="form-check-label" for="tecnologia">Tecnología</label>
                </div>
                <div class="filter-option form-check">
                    <input class="form-check-input" type="checkbox" id="jardin" name="jardin">
                    <label class="form-check-label" for="jardin">Jardín</label>
                </div>
                <div class="filter-option form-check">
                    <input class="form-check-input" type="checkbox" id="deporte" name="deporte">
                    <label class="form-check-label" for="deporte">Deporte</label>
                </div>
                <div class="filter-option form-check">
                    <input class="form-check-input" type="checkbox" id="herramientas" name="herramientas">
                    <label class="form-check-label" for="herramientas">Herramientas</label>
                </div>
            </div>
        </div>
        <!-- Dropdown de Ordenar -->
        <div class="dropdown">
            <div class="filter-item">Ordenar</div>
            <div class="dropdown-content">
                <div class="sort-item">Precio: Ascendente</div>
                <div class="sort-item">Precio: Descendente</div>
            </div>
        </div>
    </div>
</div>